@font-face {
  font-family: "Lato";
  src: url("../utils/fonts/Lato/Lato-Light/Lato-Light.woff2") format("woff2"),
    url("../utils/fonts/Lato/Lato-Light/Lato-Light.woff") format("woff"),
    url("../utils/fonts/Lato/Lato-Light/Lato-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("../utils/fonts/Lato/Lato-LightItalic/Lato-LightItalic.woff2")
      format("woff2"),
    url("../utils/fonts/Lato/Lato-LightItalic/Lato-LightItalic.woff")
      format("woff"),
    url("../utils/fonts/Lato/Lato-LightItalic/Lato-LightItalic.ttf")
      format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("../utils/fonts/Lato/Lato-Regular/Lato-Regular.woff2")
      format("woff2"),
    url("../utils/fonts/Lato/Lato-Regular/Lato-Regular.woff") format("woff"),
    url("../utils/fonts/Lato/Lato-Regular/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("../utils/fonts/Lato/Lato-RegularItalic/Lato-RegularItalic.woff2")
      format("woff2"),
    url("../utils/fonts/Lato/Lato-RegularItalic/Lato-RegularItalic.woff")
      format("woff"),
    url("../utils/fonts/Lato/Lato-RegularItalic/Lato-RegularItalic.ttf")
      format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("../utils/fonts/Lato/Lato-Bold/Lato-Bold.woff2") format("woff2"),
    url("../utils/fonts/Lato/Lato-Bold/Lato-Bold.woff") format("woff"),
    url("../utils/fonts/Lato/Lato-Bold/Lato-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("../utils/fonts/Lato/Lato-BoldItalic/Lato-BoldItalic.woff2")
      format("woff2"),
    url("../utils/fonts/Lato/Lato-BoldItalic/Lato-BoldItalic.woff")
      format("woff"),
    url("../utils/fonts/Lato/Lato-BoldItalic/Lato-BoldItalic.ttf")
      format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("../utils/fonts/Lato/Lato-Black/Lato-Black.woff2") format("woff2"),
    url("../utils/fonts/Lato/Lato-Black/Lato-Black.woff") format("woff"),
    url("../utils/fonts/Lato/Lato-Black/Lato-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("../utils/fonts/Lato/Lato-BlackItalic/Lato-BlackItalic.woff2")
      format("woff2"),
    url("../utils/fonts/Lato/Lato-BlackItalic/Lato-BlackItalic.woff")
      format("woff"),
    url("../utils/fonts/Lato/Lato-BlackItalic/Lato-BlackItalic.ttf")
      format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
